body {
  background-color: rgb(156, 156, 156);
}

.checkout-card {
  background-color: white;
}


.product {
  background-color: rgb(114, 78, 78);
  text-align: center;
  padding: 1em;
}

.product img {
  max-height: 50%;
}